/* Defaults */

/* Box Sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Default List Styles */
ul,
ol {
  padding: 0;
  list-style: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  background: #ccc;
}