/* Defaults */

/* Box Sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Default List Styles */
ul,
ol {
  padding: 0;
  list-style: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
}

/* Main Styling */

/* Main Nav */

.main-nav {
  height: 6rem;
  background: #555;
}

/* Sub Nav */

.sub-nav {
  height: 3.5rem;
  background: #ddd;
}

/* Main Content */

main {
  display: grid;
  grid-template-columns: 5rem 3fr 5rem 2fr 5rem;
  margin-top: 2rem;
}

/* Articles */

.article-container {
  grid-column: 2 / 3;
  min-height: 200px;
  border: 1px solid gray;
}

.main-article {
  height:350px;
  background: #666;
}

.sub-article {
  margin-top: 2rem;
  height: 150px;
  background: #aaa;
}

/* Email Newsletter */

.email-newsletter {
  grid-column: 4 / 5;
  height: 700px;
  background: #999;
}

/* Guides */

.guides {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 5rem;
  border: 1px solid black;
}

.guide-card {
  width: 325px;
  height: 425px;
  border-radius: 10px;
  background: #777;
}