/* Defaults */

/* Box Sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Default List Styles */
ul,
ol {
  padding: 0;
  list-style: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
}

/* Main Styling */

/* Main Nav */

.main-nav {
  height: 6rem;
  background: #777;
}

/* Sub Nav */

.sub-nav {
  height: 3.5rem;
  background: #ddd;
}

/* Main Content */

main {
  display: grid;
  grid-template-columns: 5rem 3fr 5rem 2fr 5rem;
  margin-top: 2rem;
}

/* Articles */

.main-article {
  grid-column: 2 / 3;
  height: 350px; /* change */
  background: #777;
}

/* Email Newsletter */

.email-newsletter {
  grid-column: 4 / 5;
  height: 10rem; /* change */
  background: #aaa;
}